@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
}

main {
  margin: 0 auto;
  width: 90%;
  padding: 0;
}

h1 {
  font-size: 3rem;
  background-color: #C83B44;
  color: white;
  margin-top: -6px;
  margin-bottom: 0px;

}

h2 {
  font-size: 1.8rem;
  color: #2D376C;
  border-bottom: 2px solid #C83B44;
  
}

h3 {
  font-size: 1.4rem;
}

ul {
  width: 100%;
}

label {
  display: block;
}
input {
  width: 100%;
}

#avg_check, #jongen, #meisje {
  width: 2%;
}

label, select, .field, li {
  font-size: 14px;
}

input[type="text"]:optional {
  border-bottom: solid 0.2px black;
}

input[type="radio"] {
  margin: 1rem;
}

select:required,
input:required {
  border: initial;
  border-bottom: inset 0.2px red;
}

input:required + label {
  border-bottom: inset 0.2px red;
}

input:valid,
select:valid {
  border: initial;
  border-bottom: inset 0.2px green;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  border-bottom: inset 0.2px green;
}

input[type="radio"]:valid:not(:checked) + label {
  border: initial;
}
select {
  padding: 2px 0;
  border: initial;
  border-bottom: solid 0.2px #0d47a1;
}

#regio {
  width: 100%;
}

.Iform {
  /* display: none; */
}

.field {
  flex-direction: column;
  margin-right: 10px;
}

.adresCol {
  margin-top: 1%;
}

.row {
  margin-bottom: 3%;
}

.steps {
  padding: 2%;
  background-color: #ffffff;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#stap2.steps {
  margin-top: 20px;
}

.ta-center {
  text-align: center;
  width: 100%;
}


#telefoon {
  margin-bottom: 15px;
}

#agecalculator {
  margin-top: -14px;
}

.align-right {
  text-align: center;
}

.logoNK {
  height: 160px;
}

.rotate {
  animation: rotation 3.5s infinite linear;
}

#logNK {
  padding: 2%;
  display: block;
  margin: 0 auto;
  width: 90%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#bedankt {
  display: none;
}

#plaats,
#schoolplaats {
  text-transform: capitalize;
}

#postcode,
#schoolpostcode {
  text-transform: uppercase;
}

#avg_check {
  margin-right: 1rem;
}

#stap2 {
  display: none;
}

/* desktop */
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 8.0rem;
  }

  h2 {
    font-size: 7.0rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  select {
    width: 75%;
  }

  .adresCol {
    margin-top: 0%;
  }
  #agecalculator {
    margin-top: -22px;
  }

  .align-right {
    width: 100%;
  }
}
