@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
    background-color: #E5E5E5;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1rem;
}

main {
    margin: 0 auto;
    width: 90%;
    padding: 3% 0;
}

#avg_check {
    margin-right: 1rem;
}

#stap2 {
    display: none;
}

select {
    padding: 3px 0;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

ul {
    margin: 0;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.adresCol {
    margin-top: 1%;
}

.row {
    margin-bottom: 3%;
}

.steps {
    padding: 2%;
    background-color: #ffffff;
    margin-top: 2rem;
    border-top: 4px solid #0D47A1;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.ta-center {
    text-align: center;
}

/* desktop */
@media only screen and (min-device-width: 768px) {
    body {
        font-size: initial;
    }

    h1 {
        font-size: initial;
    }

    h2 {
        font-size: initial;
    }

    h3 {
        font-size: initial;
    }

    select {
        width: 75%;
    }

    .adresCol {
        margin-top: 0%;
    }
}