main {
    margin: 0 auto;
    width: 90%;
}

select#sportCodeDropdown,
select#yearDropdown,select#monthDropdown {
    width: 71%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.row {
    margin: 30px 0;
}

select {
    padding: 3px 0;
}

#stap2 {
    display: none;
}